.image{
  position: relative;
  text-align: center;
  color: white;
}


.small-about{
  position: absolute;
  top: 45%;
  left: 14%;
  transform: translate(-40%, -20%);
  font-size: 20px;
}

.explore {
  padding: 15px 100px;
  margin: 10px 4px;
  color: purple;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}


.explore {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}


.explore::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #003177;
  box-shadow: inset 0px 0px 0px #b6cdef;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}


.wrapper {
  margin: 80px auto;
  text-align: center;
  width: 100%;
  position: relative;
}


.explore:hover::before {
  width: 100%;
}


.explore::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: purple;
  -webkit-transition: all 0.4s cubic-bezier(.7, .25, 0, 1);
  transition: all 0.4s cubic-bezier(.7, .25, 0, 1)
}


.explore:hover::after {
  width: 100%;
}


.explore:hover {
  background-color: transparent;
}


#name{
  white-space: pre-wrap;
}

[type=radio] {
  display: none;
}

#slider {
  height: 40vw;
  width: 70vw;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  background-color: aliceblue;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}


#s1:checked ~ #slide3, #s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-50%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(50%,0,-100px);
}


.vl {
  border-left: 3px solid blue;
  height: 100vh;
  position: absolute;
  left: 65%;
  margin-left: -3px;
  top: 0;
}

.like{
  position: absolute;
  left: 69%;
  top: 10%;
}