:root{
    font-size: 16px;
    font-family:cursive;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #232323e;
    --bg-secondary: #141418
}

body{
    color:black;
    background-color: white;
    margin: 20px, 40px;
    padding: 0;
}


body::-webkit-scrollbar{
    width: 0.25rem;
}


body::-webkit-scrollbar-track{
    background:black;
}


body::-webkit-scrollbar-thumb{
    background-color: purple;
}

.media{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-53%, -50%);
}


li:hover{
    color: purple;
    border: 1px solid purple;
    transition: .5s;
}

a{
    color:black;
    cursor: pointer;
}

.ContainerRepos{
    font-family: sans-serif;
    margin-left: 70px;
    margin-top: 70px;
    font-size: 20px;
}

.table{
    font-family: sans-serif;
}

.com{
    margin-left: 70px;
}

.Soft{
    margin-left: 70px;
}


#footer{
    background-color: black i !important;
}


.wrapper {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    position: relative;
}


.button {
    padding: 15px 100px;
    margin: 10px 4px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}


.button {
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}


.button::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #003177;
    box-shadow: inset 0px 0px 0px #b6cdef;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}


.button:hover::before {
    width: 100%;
}


.button::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #a9c1e8;
    -webkit-transition: all 0.4s cubic-bezier(.7, .25, 0, 1);
    transition: all 0.4s cubic-bezier(.7, .25, 0, 1)
}


.button:hover::after {
    width: 100%;
}


.button:hover {
    border-left: 1px solid #b6cdef;
    border-right: 1px solid #6098FF;
}