:root{
    font-size: 16px;
    font-family:cursive;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #232323e;
    --bg-secondary: #141418
}

body{
    color:black;
    background-color: white;
    margin: 20px, 40px;
    padding: 0;
}


body::-webkit-scrollbar{
    width: 0.25rem;
}


body::-webkit-scrollbar-track{
    background:black;
}


body::-webkit-scrollbar-thumb{
    background-color: purple;
}

.media{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-53%, -50%);
}


li:hover{
    color: purple;
    border: 1px solid purple;
    transition: .5s;
}

a{
    color:black;
}